.filter-form {
  margin-top: 20px;
  text-align: center;
}

.full-width{
  width: 100%;
}

mat-card {
  max-width: 600px;
  margin: 0em auto;
  text-align: center;
}

mat-card-header {
  text-align: center;
}
